/* Common style for nav bar of all pages */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        nav {
            background-color: #eb3834;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .logo img {
            height: 40px;
        }

        .nav-links, .icons {
            display: flex;
            gap: 20px;
        }

        nav a, .icons span {
            text-decoration: none;
            color: #fff;
            margin: 0 15px;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        nav a:hover, .icons span:hover {
            color: black;
        }

        .user-icon {
            font-size: 20px;
            margin: 0 10px;
            cursor: pointer;
        }

        /* Footer styles */
        footer {
            background-color: black;
            color: white;
            padding: 20px;
            text-align: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            transition: color 0.3s ease; 
        }

        footer:hover {
            color: red; 
        }
        
/* The Common CSS ends here */